<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>

    <style>
        body {
            text-align: center;
            background-color: rgb(187, 87, 20);
            color: rgb(0, 0, 0);
        }
        img{
            width: 500px;
            height: 500px;
        }
        
        form *{
    text-align: center;
    display: block;
    text-decoration: none;
    margin: 1% auto;
    transition: 2s;
    color: beige;
}
.form {
    text-align: center;
    position: relative;
    background-color: #a1e0a7;
    margin: 1% auto;
    padding: 40px;
    margin: 5% 6%;
    border: 1px;
    box-shadow: 0px 5px 4px rgba(7, 7, 7, 0.25);
    transition: 2s;
}


.logo {
    width: 50%;
    height: fit-content;
    background-color: wheat;

}

br {
    height: 2px;
    color: aliceblue;
    width: 75%;
}

    </style>
</head>
<body>
    <h1>You Have A New Tenant</h1>

    <h2>DETAILS</h2>
    <div class="form">
    <h3> {{ fullname }} </h3>
    <h3> first name: {{fname}}</h3>
    <h3> last name: {{lname}}</h3>
    <h3> current address: {{address}}</h3>
    <h3> Applicant convenient viewing time: {{app_date}}</h3>
    <h3> City of the property you are applying for: {{city}}</h3>
    <h3> email: {{email}}</h3>
    <h3> phone no: {{phone}}</h3>

    <h3> bankruptcy or foreclosure in past 3 years?: {{bankruptcy_in_past_3years}}</h3>
    <h3> broken lease: {{broken_lease}}</h3>
    <h3> have any children under 18 years old?: {{children_minor}}</h3>
    <h3> date of birth: {{dob}}</h3>
    <h3> Applicant state of origin: {{origin}} </h3>

    <h3> Employment status: {{employment}}</h3>
    <h3> Monthly income from employment: ₦{{income_month}}</h3>
    <h3> Annual Income from employment: ₦{{income_year}}</h3>
    <h3> Applicant current residential status: {{status}}</h3>
    <h3> Desire Length: {{length}} </h3>

    <h3> smoke: {{smoke}}</h3>
    <h3> guarantor: {{guarantor}}</h3>
    <h3> intend to keep pet: {{pet}}</h3>
    <h3> people living in the unit: {{people_will_be_living_in_the_unit}}</h3>
    <h3> How do Applicant plan to use your new home: {{how_do_you_plan_to_use_your_new_home}} </h3>



    <h3> guilty of felony: {{felony}}</h3>
    <h3> deposit if your application was approved: {{deposit}}</h3>

    <h3> Do Applicant agree to the rules and regulations of this Application form: {{rules}}</h3>

    <h3> Signature: {{signature}}</h3>

        

    </div>


</body>
</html>